.menuItem {
    cursor: pointer;
    padding: 0 36px;
    z-index: 2;
}

.menuItem:hover {
    color: #fff;
}

.menuBlock {
    display: flex;
    flex-direction: column;
    width: 165px;
    z-index: 1;
}

.menuList {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    padding-top: 45px;
    position: absolute;
    min-width: 165px;
    box-shadow: 0px 5px 5px #000;
}