* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
  font-family: serif;
  text-align: center;
  font-size: 28px;
}

img {
  width: 100%;
  object-fit: contain;
}

header {
  position: relative;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App__logo {
  width: 60%;
  margin: 0 auto;
  height: 80px;
}

.header__background {
  position: absolute;
  bottom: 0;
  height: 51px;
  width: 100%;
  background-color: rgb(235, 235, 235);
}
