* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
  font-family: serif;
  text-align: center;
  font-size: 25px;
  margin: 0;
}

h2 {
  margin: 5px 0;
  margin-bottom: 15px;
}

figure {
  margin: 0;
  margin-right: 15px;
}

img {
  width: 100%;
  object-fit: contain;
}

header {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header__background {
  position: absolute;
  bottom: 0;
  height: 51px;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.container {
  display: flex;
  height: 300px;
  max-width: 1155px;
  margin: 0 auto;
}

.category-title {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: rgb(114, 117, 119);
}
